<div class="form-group">
  <%= f.label :title, "Nombre", :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
  <%= f.text_field :title, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :description, "Descipción", :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
  <%= f.text_area :description, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :x, "Coordenada X",  :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
  <%= f.text_field :x, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :y, "Coordenada Y", :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
  <%= f.text_field :y, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :notes, "Notas", :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
  <%= f.text_area :notes, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :route_id, "Ruta", :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
  <%= f.select :route_id, routes_options, {:include_blank => 'Elige una ruta'} %>
  </div>
</div>