<h1>Editar Aljibe</h1>
<div class="row">
<%= link_to "Subir foto", new_tank_photo_path(@tank) %>
  <div class="well bs-component">
    <%= form_for @tank, :html => {:class => "form-horizontal"} do |f| %>
      <fieldset>
        <%= render partial: "form", locals: {f: f} %>      
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
            <%= link_to "Volver atrás", tank_path(@tank), class: "btn btn-default" %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>