<div id="alchup">
<h2><%=@tank.title%></h2>
<p id="description" data-latitude="<%= @tank.latitude %>" data-longitude="<%= @tank.longitude %>">
<%=@tank.description%>
</p>

<%= image_tag @tank.main_photo(:large), id: 'header_img' %><br/>
<% unless @tank.photos.empty? %>
  <div class="image-selector">
<% @tank.photos.each do |photo|%>
<a href="<%=photo.image.url(:large)%>" class="item"><%= image_tag photo.image.url(:medium) %></a>
  <%end%>
<%end%>
</div>

<div id="map-canvas" style="height: 300px; weight:100%">
</div>  

</div>