
<div id="map-home" style="height: 300px; weight:100%">
</div>  

Rutas:
<ul>
<% @routes.each do |tank| %>
  <li>
    Nombre: <%= tank.title %>
  </li>
<% end %>
</ul>

Alchups:
<ul id="alchups">
<% @tanks.each do |tank| %>
  <li data-latitude="<%= tank.latitude %>" data-longitude="<%= tank.longitude %>">
    Nombre: <%= tank.title %>
    <br/>
    Descripción: <%= tank.description %>
    <br/>
    <% unless tank.photos.empty? %>
    Fotos:
    <% tank.photos.each do |photo|%>
    <%= image_tag photo.image.url(:medium), size: "80x80" %>
    <%end%>
    <%end%>
  </li>
<% end %>
</ul>