<div class="main-map" id="home">
      <div id="map-canvas" style="height: 450px;">Mapa</div>
</div><!-- main-map -->
<div class="main-description">
  <div class="wrapper">
    Los alchups o aljibes son consectetur adipiscing elit. Integer molestie, mauris nec porta viverra, metus purus vehicula quam, et convallis ante est vel quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc placerat ligula at quam molestie, in iaculis orci eleifend. Morbi sit amet hendrerit odio. Suspendisse interdum diam in ligula aliquet scelerisque. Nulla suscipit eget ligula at ullamcorper. Cras lacinia eu nunc at posuere. Integer posuere auctor nulla vitae.
  </div><!-- .wrapper -->
</div><!-- main-description -->

<div class="wrapper">
  <div class="routes">
    <div class="route">
      <span class="label">Ruta <strong>1</strong></span>
      <h2>De los lavaderos a las Forcas</h2>
      <p><%=image_tag "home-ruta1.png", :alt=>"Fotografías de la Ruta 1"%></p>
      <a href="<%=route_path(1)%>" class="btn primary">Quiero conocer esta ruta <span class="arrow">›</span></a>
    </div><!-- .route -->
    <div class="route">
      <span class="label">Ruta <strong>2</strong></span>
      <h2>De Perera a la Heredad</h2>
      <p><%=image_tag "home-ruta1.png", :alt=>"Fotografías de la Ruta 2"%></p>
      <a href="<%=route_path(2)%>" class="btn primary">Quiero conocer esta ruta <span class="arrow">›</span></a>
    </div><!-- .route -->
  </div>  
</div><!-- .wrapper -->

<div class="wrapper">
  <div class="aljibes">
    <h2>Además de las rutas, puedes conocer cada uno de los <%= @tanks.size %> aljibes localizados</h2>
    <ol class="aljibes-list" id="alchups">
      <% @tanks.each do |tank| %>
        <li data-latitude="<%= tank.latitude %>" data-longitude="<%= tank.longitude %>">
          <%=link_to tank.title, alchup_path(tank) %>
        </li>
      <% end %>
    </ol><!-- .aljibes-list -->
  </div>
</div><!-- .wrapper -->