<% content_for :title do %>
Ruta <%=@route.title%>
<% end %>
<% content_for :header do %>
  <div class="wrapper">
    <h2><%= link_to image_tag("logo.svg", :width=>"295", :height=>"32"), root_path%></h2><br />
    <p>Descubre los Aljibes de San Esteban de la Litera</p>
  </div><!-- .wrapper -->
  <div class="single-title ruta ruta<%=@route.id%>">
    <span class="label">Ruta <strong><%=@route.id%></strong></span>
    <h1 id="route" data-id="<%=@route.id%>"><%=@route.title%></h1>
  </div>
<% end %>
<div class="single-ruta-image">

  <%= image_tag "ruta#{@route.id}.png", :alt=>"Imagen previa de la ruta 1" %>
</div><!-- .single-ruta-image -->
<div class="wrapper">
<div class="single-content">
          
          <div class="content">
            <div id="map-canvas" class="map">
              
            </div>
            <p>
            <%=@route.description%>
            </p>
            <h2>Dificultad:</h2>
            <p>
            Dificultad Media. Ruta con una dificultad no muy elevada.
            </p>

            <h2>Ruta indicada para:</h2>
            <ul>
            <li>Senderismo con niños o en familia.</li>
            <li>Senderismo.</li>
            <li>Bicicleta de montaña.</li>
            <li>A caballo.</li>
            </ul>

            <h2>A tener en cuenta:</h2>
            <p>
            No olvides planificar tu ruta (horario, metereología, etc.) y llevar el equipamiento necesario (calzado y ropa adecuada, agua, etc.).<br/>
            Respeta la fauna y flora, no arranques las plantas ni asustes a los animales.<br/>
            Disfruta del camino, intentando identificar flora y fauna, y de los paisajes repletos de contrastes que encontrarás.<br/>
            No olvides tus prismáticos y tu cámara de fotos.<br/>
            No tires basura. Queremos ver tu pisada no tu huella.<br/>
            No hagas fuego. Respeta los caminos y senderos.<br/>
            Cruza las tierras de cultivo por los senderos y nunca por la zona sembrada.<br/>
            Sigue y respeta las señales. En época de caza respeta las acotaciones.<br/>
            Comunica rápidamente cualquier incidencia al teléfono de emergencia <b>112</b>.
            </p>
            <% unless @route.tanks.empty?%> 
            <div class="single-image">
              <%= image_tag @route.tanks.first.main_photo(:large), id: 'header_img'%>
              <div class="image-selector">
                <% @route.tanks.first.photos.each do |photo|%>
                <a href="<%=photo.image.url(:large)%>" class="item"><%= image_tag photo.image.url(:thumb) %></a>
                <%end%>
              </div>
            </div><!-- .single-image -->
          </div>
          <%end%>
        </div><!-- .single-content -->

  <div class="aljibes">
    <h2>Esta ruta tiene <%= @route.tanks.size %> aljibes localizados</h2>
    <ol class="aljibes-list" id="alchups">
      <% @route.tanks.each do |tank| %>
        <li data-latitude="<%= tank.latitude %>" data-longitude="<%= tank.longitude %>" data-img="<%= tank.main_photo%>">
          <%=link_to tank.title, alchup_path(tank) %>
        </li>
      <% end %>
    </ol><!-- .aljibes-list -->
  </div>
</div><!-- .wrapper -->