<!DOCTYPE html>
<html>
<head>
  <title>Alchups</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD0Q5qmrEu6MCrOKn8qECqg_0sAqF1qw4s">
  </script>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="/tanks">Alchups</a>
      </div>
      <% if admin_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Página pública</a></li>
        <li><%= link_to "Salir", destroy_admin_session_path, :method => :delete %></li>
      </ul>
      <% end %>
  </div>
</nav>

<div class="container">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</div>

</body>
</html>
