<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= yield(:title) %> | Alchups de San Esteban de Litera</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= stylesheet_link_tag 'public', media: 'all'%>
  <%= csrf_meta_tags %>

  <!-- OpenGraph and META TAGS -->
  <meta name="description" content="Descubre los Aljibes de San Esteban de la Litera" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="Alchups de San Esteban de Litera">
  <meta property="og:description" content="Descubre los Aljibes de San Esteban de la Litera">
  <meta property="og:url" content="<%=request.original_url%>">
  <meta property="og:site_name" content="Alchups.com">
  <meta property="og:image" content="<%= image_url("photo-share-social.png") %>">
</head>
<body>
  <div class="site">
    <header class="main-header">
      <div class="wrapper">
        <nav class="main-menu">
          <ul>
            <li><%= link_to "¿Qué son los Alchups?", what_path %></li>
            <li><%= link_to "El pueblo", town_path %></li>
          </ul>
        </nav>
      </div>
      <div class="site-description">
      <%= yield :header %>
      </div><!-- .site-description -->
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="main-footer">
        <div class="wrapper">
          <div class="col">
            <%=link_to image_tag("logo-white.png", :alt=>"Logotipo de Alchups"), root_path %>
          </div><!-- .col -->
          <div class="col">
            <ul>
              <li><%= link_to "De los lavaderos a las Forcas", route_path(1) %></li>
              <li><%= link_to "De Perera a la Heredad", route_path(2) %></li>
              <li><%= link_to "¿Qué son los Alchups?", what_path %></a></li>
              <li><%= link_to "El pueblo", town_path %></li>
              <li><%= link_to "Web municipal", "http://www.sanestebandelitera.es/" %></li>
              <li><%= link_to "Email: sanesteban@lalitera.org", "mailto:sanesteban@lalitera.org" %></li>
            </ul>
          </div><!-- .col -->
          <div class="col logos">
            <a href="http://www.dphuesca.es/"><%=image_tag "logo-dph.png", :alt=>"Logotipo de la Diputación Provincial de Huesca" %></a>
            <a href="http://www.sanestebandelitera.es/"><%=image_tag "logo-sel.png", :alt=>"Logotipo de San Esteban de la Litera" %></a>
          </div><!-- .col -->
        </div><!-- .wrapper -->
      </div><!-- .main-footer -->
      <div class="main-footer-project">
        <div class="wrapper">
          <strong>Alchups</strong> es un proyecto <a href="https://github.com/bierasolutions/alchups">open source</a><br /> <%=image_tag "logo-github.png", :alt=>"GitHub Logo" %> <br /> A tu disposicion en <a href="https://github.com/bierasolutions/alchups">GitHub</a>.
        </div><!-- .wrapper -->
      </div><!-- .main-footer-project -->
    </footer>
  </div><!-- .site -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD0Q5qmrEu6MCrOKn8qECqg_0sAqF1qw4s">
  </script>
  <%= javascript_include_tag "application" %>
</body>
</html>
