<!DOCTYPE html>
<html lang="es">
<head>
  <title>Alchups de San Esteban de Litera</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'public', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site">
    <header class="main-header">
      <div class="wrapper">
        <nav class="main-menu">
          <ul>
            <li><%= link_to "¿Qué son los Alchups?", what_path %></li>
            <li><%= link_to "El pueblo", town_path %></li>
          </ul>
        </nav>
      </div><!-- .wrapper -->
      <div class="wrapper">
        <div class="site-description">
          <h1><%= link_to image_tag("logo.svg", :width=>"295", :height=>"32"), root_path%></h1><br />
          <p>Descubre los Aljibes de San Esteban de la Litera</p>
        </div><!-- .site-description -->
      </div><!-- .wrapper -->
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="main-footer">
        <div class="wrapper">
          <div class="col">
            <%=image_tag "logo-white.png", :alt=>"Logotipo de Alchups" %>
          </div><!-- .col -->
          <div class="col">
            <ul>
              <li><%= link_to "Inicio", root_path %></li>
              <li><%= link_to "Ruta 1 - De los lavaderos a las Forcas", route_path(1) %></li>
              <li><%= link_to "Ruta 2 - De Perera a la Heredad", route_path(2) %></li>
              <li><%= link_to "¿Qué son los Alchups?", what_path %></a></li>
              <li><%= link_to "El pueblo", root_path %></li>
              <li><%= link_to "Web municipal", "http://www.sanestebandelitera.es/" %></li>
            </ul>
          </div><!-- .col -->
          <div class="col logos">
            <a href="http://www.dphuesca.es/"><%=image_tag "logo-dph.png", :alt=>"Logotipo de la Diputación Provincial de Huesca" %></a>
            <a href="http://www.sanestebandelitera.es/"><%=image_tag "logo-sel.png", :alt=>"Logotipo de San Esteban de la Litera" %></a>
          </div><!-- .col -->
        </div><!-- .wrapper -->
      </div><!-- .main-footer -->
      <div class="main-footer-project">
        <div class="wrapper">
          <strong>Alchups</strong> es un proyecto <a href="https://github.com/bierasolutions/alchups">open source</a><br /> <%=image_tag "logo-github.png", :alt=>"GitHub Logo" %> <br /> A tu disposicion en <a href="https://github.com/bierasolutions/alchups">GitHub</a>.
        </div><!-- .wrapper -->
      </div><!-- .main-footer-project -->
    </footer>
  </div><!-- .site -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3.exp">
  </script>
  <%= javascript_include_tag "application" %>
</body>
</html>
